.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  max-height: 200px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 19%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 50%;
    }
  }
  .name {
    width: 50%;
  }
  .quantity {
    width: 13%;
  }

  .price {
    width: 9%;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    width: 9%;
    padding-left: 12px;
    cursor: pointer;
  }
}
